*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    border: none;
    background-color: black;
    color: rgb(171, 210, 250);
}
body{
    background-color: rgb(225, 29, 29);
    color: azure;
}
.glyphicon{
    font-size: 30px;
    color:azure;
}
.center{
    width: 90%;
    background-color: rgb(252, 165, 165);
}
.container{
    background-color: rgb(78, 78, 78);
}
.text-center{
    font-size: 30px;
}
h2{
    text-align: center;
}
#myNavbar ul li a{
    color: antiquewhite;
}
..navbar-brand{
    font-size: 30px;
}